#s-block {
	background: #ccb;
	padding-top: 342px;
	padding-bottom: 250px;
	position: relative;
	display: block;
}
.s-title {
	margin-top: -300px;
}
#wrapper {
	border-radius: 200px;
	overflow: hidden;
	width: 250px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
}
#wrapper {
	border: 10px solid #eee;
	margin: -110px 0 0 -120px;
	z-index: 2;
}
#carousel img {
	display: block;
	float: left;
	cursor: pointer;
	margin-top: -3px;
	margin-left: -3px; 
	border-radius: 50%;
}
#sponsors-tag h3 {
	overflow: hidden;
	color: #56585b;
	display: block;
	text-align: center;

	-webkit-transition: margin 0.5s ease;
	-moz-transition: margin 0.5s ease;
	transition: margin 0.5s ease;
}
#pager {
	width: 300px;
	margin: -30px 0 0 -142.5px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
}
#pager a {
	border: 5px solid #eee;
	border-radius: 30px;
	overflow: hidden;
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 0 0 -30px;
	position: absolute;
	left: 50%;
	background-color: #eee;

	-webkit-transition: margin 0.5s ease;
	-moz-transition: margin 0.5s ease;
	transition: margin 0.5s ease;
}
#pager a.thumb1 {
	top: 130px;
	margin-left: 45px;
}
#pager a.thumb1.selected {
	margin-top: -75px;
	margin-left: -85px;
}
#pager a.thumb2 {
	top: 150px;
	margin-left: -25px;
}
#pager a.thumb2.selected {
	margin-top: -75px;
	margin-left: -25px;
}
#pager a.thumb3 {
	top: 130px;
	margin-left: -98px;
}
#pager a.thumb3.selected {
	margin-top: -75px;
	margin-left: -5px;
}